@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.imgBox {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== CARD ===== */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 360px;
    padding: 35px;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.4);
    color: white;
}

.card h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

/* ===== INPUTS ===== */
.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;

    padding: 10px 0;
    color: white;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255,0.7);
    pointer-events: none;
    transition: 0.3s ease;
}

/* Floating effect */
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -6px;
    transform: scale(0.8);
    color: #ffffff;
}

/* ===== OPTIONS ===== */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.options a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 0px 8px grey;
}

.options a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.327);
}

/* ===== BUTTON ===== */
.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: white;
    color: black;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
}

/* ===== SOCIAL ===== */
.or {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    opacity: 0.8;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials a {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
